body{
    height: 100%;
    background-color: hsl(30, 54%, 90%);
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    font-family: Outfit;
    overflow-x: auto;
}
main{
    display:flex;
    flex-direction: column;
    width:100%;
    max-width:650px;
    padding: 40px 24px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
}
.img-omelette{
    width:100%;
    height: auto;
    border-radius: 15px;
}
h1, h2 {
    font-family: 'Young Serif', serif;
}
h1{
    font-weight: 500;
    color:hsl(24, 5%, 18%);
}
h2{
    font-weight: 500;
    color:hsl(14, 45%, 36%);
}
h3{
    font-family: Outfit;
    color: hsl(332, 51%, 32%);
}
p, li {
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    line-height: 25px;
}
.preparation-time{
    background-color: hsl(330, 100%, 98%);
    padding: 10px 30px;
   
}
ul li::marker, ol li::marker{
    color: hsl(14, 45%, 36%); 
}
ol li::marker{
    font-weight: bold;
}
ul li{
    line-height: 35px;
}
ol li{
    margin-bottom: 5px;
}
ul li, ol li{
    padding-left: 10px;
}
ul, ol{
    margin-left:10px;
    padding-left:10px;
}
.ingredients-list {
    border-bottom: 1px solid hsl(0, 0%, 83%);
}
td{
    padding: 10px 30px;
    color: hsl(30, 10%, 34%);
    border-bottom: 1px solid hsl(0, 0%, 83%);
}
td:nth-child(2){
    color:hsl(14, 45%, 36%);
    font-weight: bold;
}
.nutrition-table{
    width: 100%;
    border-collapse: collapse;
}

@media (max-width: 375px){
    body{
        background-color:white;
        padding: 30px 16px;
    }
    main{
        border-radius: 0px;
        box-shadow: none;
    }

}